
    <div class=" post-description" >
        <h5 class="card-title">{{post?.title}}</h5>
        <hr>
      <div class="content-field">
        <p  class="card-text">{{post?.content}}</p>
      </div>
    </div>
    <hr>
    <div class="row align-items-end comment-btn-row-field">
      <div class="col first-comment-col"><h6>Comments:</h6></div>
      <div class="col second-comment-col">
        <a class="btn btn-info" data-toggle="collapse" href="#commentForm1" role="button" aria-expanded="false" aria-controls="commentForm1">Write Comment </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="commentForm1">
          <div class="card card-body">
            <form >
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input [(ngModel)]="newComment.emailAddress" name="something" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment:</label>
                <textarea [(ngModel)]="newComment.messageContent" name="something" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your message here..."></textarea>
              </div>
            </form>
            <div class="post-btn">
              <a class="btn btn-info"  data-toggle="collapse" href="#commentForm1" role="button" aria-expanded="false" aria-controls="commentForm1" (click)="sendMessage()">Send</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card comment-field" *ngFor="let comment of comments">
      <div class="card-body">
        <p class="card-text">{{comment.messageContent}}</p>
        <hr id="commentHr">
        <div class="comment-description" >
          <p >
            Created on
            <a style="color: green">{{comment.createTime| date:'short'}}</a> by
            <a style="color: red"> {{comment.emailAddress}} </a>
          </p>
        </div>
      </div>
    </div>


