
  <nav class="navbar-main navbar navbar-expand-sm navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
        <li class="nav-item active" >
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" [routerLink]="['/posts']">Posts <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>



