<div class="row align-items-end">
  <div class="col write-post-btn" >
    <a class="btn btn-info" data-toggle="collapse" href="#PostForm" role="button" aria-expanded="false" aria-controls="PostForm">Write Comment</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="PostForm">
      <div class="card card-body">
        <form >
          <div class="form-group">
            <label for="exampleFormControlInput2">Email address</label>
            <input [(ngModel)]="newPost.emailAddress" name="something" type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3">Title</label>
            <input [(ngModel)]="newPost.title" name="something" class="form-control" id="exampleFormControlInput3" placeholder="Write your title here...">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Content</label>
            <textarea [(ngModel)]="newPost.content" name="something" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your content here..."></textarea>
          </div>
        </form>

        <div id="postItBtn" >
          <a class="btn btn-info"  data-toggle="collapse" href="#PostForm" role="button" aria-expanded="false" aria-controls="PostForm" (click)="createPost()">Post it!</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>

  <div class="row">
    <div class="col-lg-6" *ngFor=" let post of posts">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><a class="post-title" [routerLink]="['/posts', post.id]">{{post.title}}</a></h3>
          <hr>
          <p class="card-text">{{post.content}}</p>
          <div class="row">
            <div class="col post-details">
              <p>Created:
                <a style="color: green">{{post.createTime| date:'short'}}</a> by
                <a style="color: red">{{post.emailAddress}} </a></p>
            </div>
            <div class="col post-comment-count-field" >
              <p> <a [routerLink]="['/posts', post.id]" style="color: dodgerblue">Comments({{post.commentsCount }})</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

